<div [ngClass]="{'error': options.validationOn && (options.errors.length > 0)}"
  [ngbPopover]="popContent"
     triggers="mouseenter:mouseleave"
     container="body"
     popoverClass="popover error-popover">
  <input lxftFormatNumber
         type="text"
         [title]="value ? value : ''"
         [attr.maxlength]="options.maxLength"
         [disabled]="options.isDisabled"
         [(ngModel)]="value"
         (input)="onChange($event)"
         (blur)="onInputBlur($event)"
         (focus)="onFocus($event)">
  <span *ngIf="options.validationOn && (options.errors.length > 0)"
        class="icon-error"></span>
</div>
<ng-template #popContent>
  <span *ngFor="let e of options.errors"
        class="error-message">{{ e }}</span>
</ng-template>