<div class="add-vessel-form">
  <div class="modal-header">
    <h3 class="modal-title">
      <button class="btn-small" [disabled]="index === 0" (click)="index=index-1"><i class="icon-prev"></i></button>
      <button class="btn-small" [disabled]="index === allConfigs.length - 1" (click)="index=index+1"><i
          class="icon-next"></i></button>
          ISF form
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()"><span
        aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="data-container"
         *ngIf="config && config.fields">
      <div *ngFor="let field of config.fields"
           [ngClass]="{'data-item': true, 'long': field.options.long, 'separator': field.options.separator, 'multiline': field.options.multiline, 'full-line-control': field.options.fullLine}">
        <label class="data-item-header"
               [attr.title]="field.title">{{field.title}}</label>
        <div lxft-fields-selector
             [viewMode]='viewMode'
             *ngIf="isLoaded && field.name != importerFieldName"
             [field]="field"></div>
        <div lxft-fields-selector
             [viewMode]='viewMode'
             *ngIf="isLoaded && field.name == importerFieldName"
             [field]="field"
             (valueChange)="onImporterChanged()"></div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="popup-btn-set">
      <button type="button"
              class="btn btn-link"
              (click)="cancel()">Close</button>
      <button type="button"
              *ngIf="!viewMode"
              class="btn btn-primary btn-default"
              (click)="save(true, false)">Save</button>
      <button type="button"
              *ngIf="!viewMode"
              class="btn"
              (click)="save(true, true)">File</button>
      <button type="button" 
              *ngIf="!viewMode"
              class="btn" 
              (click)="save(false, false)">Save & Copy</button>
      <button type="button" 
              *ngIf="viewMode"
              class="btn btn-default" 
              (click)="clone()"><span class="icon-copy"></span>Copy</button>
    </div>
  </div>
</div>