<?xml version="1.0" encoding="utf-8"?>
<nlog throwExceptions="true" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="path" value="C:/logs" />

    <targets async="true">
        <target name="defaultTarget" xsi:type="File" fileName="${path}/filingportal/${shortdate}.log" archiveNumbering="Sequence"
                archiveAboveSize="104857600" archiveFileName="${path}/filingportal/filingportal-{#######}.zip"
                enableArchiveFileCompression="true">
            <layout xsi:type="CompoundLayout" >
              <layout xsi:type="SimpleLayout" text="${longdate}, " />
              <layout xsi:type="SimpleLayout" text="User: ${aspnet-user-identity}, " />
              <layout xsi:type="SimpleLayout" text="Referrer URL: ${aspnet-request-referrer} " />
              <layout xsi:type="SimpleLayout" text="Request URL: ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true} " />
              <layout xsi:type="SimpleLayout" text="${newline}" />
              <layout xsi:type="SimpleLayout" text="${level}: " />
              <layout xsi:type="SimpleLayout" text="${logger:shortName=true} - " />
              <layout xsi:type="SimpleLayout" text="${message}, " />
              <layout xsi:type="SimpleLayout" text="${event-context:item=size} " />
              <layout xsi:type="SimpleLayout" text="${callsite:fileName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true:SkipFrames=1}. " />
              <layout xsi:type="SimpleLayout" text="${onexception:${newline}${exception:format=tostring:maxInnerExceptionLevel=3}}" />
            </layout>
        </target>
    </targets>
  
    <targets async="true">
        <target name="errorTarget" xsi:type="File" fileName="${path}/filingportal/${shortdate}_errors.log" archiveNumbering="Sequence"
                archiveAboveSize="104857600" archiveFileName="${path}/filingportal/filingportal-{#######}.zip"
                enableArchiveFileCompression="true">
            <layout xsi:type="CompoundLayout" >
              <layout xsi:type="SimpleLayout" text="${longdate}, " />
              <layout xsi:type="SimpleLayout" text="User: ${aspnet-user-identity}, " />
              <layout xsi:type="SimpleLayout" text="Referrer URL: ${aspnet-request-referrer} " />
              <layout xsi:type="SimpleLayout" text="Request URL: ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true} " />
              <layout xsi:type="SimpleLayout" text="${newline}" />
              <layout xsi:type="SimpleLayout" text="${level}: " />
              <layout xsi:type="SimpleLayout" text="${logger:shortName=true} - " />
              <layout xsi:type="SimpleLayout" text="${message}, " />
              <layout xsi:type="SimpleLayout" text="${event-context:item=size} " />
              <layout xsi:type="SimpleLayout" text="${callsite:fileName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true:SkipFrames=1}. " />
              <layout xsi:type="SimpleLayout" text="${onexception:${newline}${exception:format=tostring:maxInnerExceptionLevel=3}}" />
            </layout>
        </target>
        
        <target name="traceTarget" xsi:type="File" fileName="${path}/filingportal/${shortdate}_trace.log" />
    </targets>

    <rules>
        <logger name="FilingPortal.*" minlevel="Debug" writeTo="defaultTarget"/>
        <logger name="FilingPortal.*" minlevel="Error" writeTo="errorTarget"/>
        <logger name="FilingPortal.*" minlevel="Trace" maxlevel="Trace" writeTo="traceTarget" enabled="false"/>
        <logger name="Framework.*" minlevel="Trace" maxlevel="Trace" writeTo="traceTarget" enabled="false"/>
    </rules>
</nlog>